# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/
uploads/
# FastAPI/Uvicorn logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.hypothesis/
.pytest_cache/

# MyPy / Pyre type checker
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
*.env

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Database (SQLite, etc.)
*.sqlite3
*.db

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db
