fastapi
uvicorn
supabase
pdfplumber
PyMuPDF
markdownify
requests
python-docx
pydantic
python-dotenv
camelot-py   
pytesseract
PyYAML
numpy

langchain
langchain-community
unstructured[md]
nltk
python-dotenv

openai

